* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.5;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
}

a {
    color: inherit;
}

.hero {
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url(src/images/img-mission-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.text-container {
    background-color: black;
    opacity: 0.9;
    *{
        padding: 10px
    }
}

.tea-of-the-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.tea-of-the-month > h2 {
    margin-bottom: 20px;
}

.teas-container {
    width: 1000px;
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.single-tea > img {
    height: 200px;
    width: 300px;
}

.single-tea > h4 {
    margin: 10px 0px 20px 0px;
}