* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.5;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid seashell;
    background-color: inherit;
}

nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 50px;
}

a {
    color: inherit;
}

.hero {
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url(src/images/img-mission-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}

.text-container {
    background-color: black;
}

.text-container h2,
.text-container h4 {
    padding: 10px
}

.tea-of-the-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    scroll-margin-top: 100px;
}

.tea-of-the-month>h2 {
    margin-bottom: 20px;
}

.teas-container {
    width: 1000px;
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.single-tea>img {
    height: 200px;
    width: 300px;
}

.single-tea>h4 {
    margin: 10px 0px 20px 0px;
}

.locations {
    background-image: url(src/images/img-locations-background.webp);
    height: 500px;
    margin: 50px 50px 10px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-margin-top: 70px;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location {
    opacity: 1;
    background-color: black;
    width: 300px;
    margin: 15px 40px 0 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.copyright {
    text-align: left;
    margin: 25px 0 30px 20px;
}
